<h1><%= @song.title %></h1>

<%= link_to 'edit', edit_song_path(@song) %>
<%= link_to 'delete', song_path(@song), method: :delete, data: {confirm: "Really delete #{@song}?"} %>

<ul>
  <li>Artist: <%= link_to @song.artist.name, artist_path(@song.artist) %></li>
  <li>Length: <%= @song.length %></li>
  <li>Genre: <%= @song.dance %></li>
  <li>BPM: <%= @song.bpm %></li>
  <li>Link: <%= @song.link %></li>
  <li>Playlists: <%= link_to @song.playlist.title, playlist_path(@song.playlist) %></li>
</ul>
