<div class="sub_header">
  <h1><%= @song.title %></h1>
</div>

<%= link_to 'edit', edit_song_path(@song) %>
<%= link_to 'delete', song_path(@song), method: :delete, data: {confirm: "Really delete #{@song}?"} %>

<ul>
  <li>Artist: <%= link_to @song.artist.name, artist_path(@song.artist) %></li>
  <li>Length: <%= Time.at(@song.length).utc.strftime("%M:%S") %></li>
  <li>Genre: <%= @song.genre %></li>
  <li>BPM: <%= @song.bpm %></li>
  <li>Link: <%= @song.link %></li>
  <li>Found on Playlists:
    <ul><% @song.playlists.each do |playlist| %>
      <li><%= link_to playlist.title, playlist_path(playlist) %></li>
      <%end %>
    </ul>
  </li>
</ul>
