<div class="sub_header">
  <h1><%= @playlist.title %></h1>
  <div id="playlist-<%=@playlist.id%>">
<div class="sub_header_buttons">
  <h3><%= link_to 'edit', edit_playlist_path(@playlist) %></h3>
  <h3><%= link_to "delete", playlist_path(@playlist), method: :delete, data: {confirm: "Really delete #{@playlist.title}"} %></h3>
</div>
</div>
</div>

<div class="songcards">
  <% @playlist.songs.each do |song| %>
    <div class="songcard">
      <a href='/songs/<%=song.id%>'>
      <div class="container">
        <div id="song-<%=song.id%>">
        <h2><b>Title: <%= link_to song.title, song_path(song) %></b></h2>
        <h4>Artist: <%= link_to song.artist.name, artist_path(song.artist) %></h4>
        <h4>Length: <%= Time.at(song.length).utc.strftime("%M:%S") %></h4>
        <h4>Youtube: <%= song.link %></h4>
        <h4><%= link_to "edit", edit_song_path(song) %></h4>
        <h4><%= link_to "delete", song_path(song), method: :delete, data: {confirm: "Really delete #{song.title}"} %></h4>
        </div>
      </div>
    </a>
    </div>
  <% end %>
</div>
