<!DOCTYPE html>
<html>
  <head>
    <title>PerfectPlaylist</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>


    <div class="header" style="text-align:center;margin:auto;color:#f3f3f3;font-size:30px;font-weight:550;padding-top:25px;">
      <h1>PerfectPlaylist</h1>
    </div>

    <div class="nav">
        <a href="/playlists">Playlists</a>
        <a href="/songs">Songs</a>
        <a href="/artists">Artists</a>
        <% unless current_user %>
          <a href="/users/new" style="float:right">Register</a>
          <a href="/login" style="float:right">I already have an account</a>
        <% else %>
          <a href="/logout" style="float:right">Log Out</a>
          <a href="/users/<%=current_user.id%>" style="float:right">Welcome, <%= current_user.username %></a>
        <% end %>
    </div>
    <% flash.each do |key, msg| %>
      <%= content_tag :div, msg, id: key %>
    <% end %>



    <%= yield %>
  </body>
</html>
